.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.8s ease forwards;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}