

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 900px) {
  .grid-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}


section {
  margin-bottom: 5rem;
}

section>h2 {
  margin-bottom: 2rem;
}

body[data-page="home"] section:first-of-type {
  padding-top: 6rem;
  padding-bottom: 5rem;
}

@media (min-width: 1200px) {
  .grid-2 {
    gap: 3rem;
  }
}